<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>note_barricade.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,856},{46,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,153}}</string>
				<key>sourceSize</key>
				<string>{46,153}</string>
			</dict>

			<key>note_bike.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,886},{194,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{194,125}}</string>
				<key>sourceSize</key>
				<string>{194,125}</string>
			</dict>

			<key>note_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,273},{150,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,130}}</string>
				<key>sourceSize</key>
				<string>{150,130}</string>
			</dict>

			<key>note_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,145},{568,408}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{568,408}}</string>
				<key>sourceSize</key>
				<string>{568,408}</string>
			</dict>

			<key>note_crain.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,434},{45,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,135}}</string>
				<key>sourceSize</key>
				<string>{45,135}</string>
			</dict>

			<key>note_h-beam.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{936,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{936,144}}</string>
				<key>sourceSize</key>
				<string>{936,144}</string>
			</dict>

			<key>note_human.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,607},{81,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,248}}</string>
				<key>sourceSize</key>
				<string>{81,248}</string>
			</dict>

			<key>note_longad.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,145},{86,224}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,224}}</string>
				<key>sourceSize</key>
				<string>{86,224}</string>
			</dict>

			<key>note_longbox.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,404},{102,202}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,202}}</string>
				<key>sourceSize</key>
				<string>{102,202}</string>
			</dict>

			<key>note_navigator.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,886},{70,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,134}}</string>
				<key>sourceSize</key>
				<string>{70,134}</string>
			</dict>

			<key>note_sign.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,145},{150,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,127}}</string>
				<key>sourceSize</key>
				<string>{150,127}</string>
			</dict>

			<key>note_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{410,608},{370,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{370,277}}</string>
				<key>sourceSize</key>
				<string>{370,277}</string>
			</dict>

			<key>note_tire.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,886},{138,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,127}}</string>
				<key>sourceSize</key>
				<string>{138,127}</string>
			</dict>

			<key>note_trash.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,404},{145,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{145,149}}</string>
				<key>sourceSize</key>
				<string>{145,149}</string>
			</dict>

			<key>sub_back_container.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,554},{553,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{553,53}}</string>
				<key>sourceSize</key>
				<string>{553,53}</string>
			</dict>

			<key>sub_back_navigator.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,145},{61,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,288}}</string>
				<key>sourceSize</key>
				<string>{61,288}</string>
			</dict>

			<key>sub_front_stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,608},{409,297}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{409,297}}</string>
				<key>sourceSize</key>
				<string>{409,297}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>notes.png</string>
			</dict>
		</dict>
</plist>