<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,191},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,40}}</string>
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>

			<key>button_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,150},{60,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,40}}</string>
				<key>sourceSize</key>
				<string>{60,40}</string>
			</dict>

			<key>edit_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,82},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>pause_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,148},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>pause_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,82},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>play_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,148},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>play_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,148},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>

			<key>selector.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,32}}</string>
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>

			<key>slider_ball.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,150},{13,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,40}}</string>
				<key>sourceSize</key>
				<string>{13,40}</string>
			</dict>

			<key>slider_progress.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{450,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,40}}</string>
				<key>sourceSize</key>
				<string>{450,40}</string>
			</dict>

			<key>slider_track.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,40}}</string>
				<key>sourceSize</key>
				<string>{450,40}</string>
			</dict>

			<key>white_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,115},{160,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,32}}</string>
				<key>sourceSize</key>
				<string>{160,32}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>